*, 
*::after {
  box-sizing: border-box;
}

:root {
    /* Primary */
    --clr-primary-blue: hsl(220, 98%, 61%);
    --clr-primary-gradient: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));

    /* Light Theme */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Dark Theme */
    --clr-neutral-950: hsl(235, 21%, 11%);
    --clr-neutral-900: hsl(235, 24%, 19%);
    --clr-neutral-100: hsl(234, 39%, 85%);
    --clr-nuetral-150: hsl(236, 33%, 92%);
    --clr-neutral-300: hsl(234, 11%, 52%);
    --clr-neutral-500: hsl(233, 14%, 35%);
    --clr-neutral-700: hsl(237, 14%, 26%);

    /* Fonts */
    --fn-size: 1.125rem;
    --fn-family: 'Josefin Sans', sans-serif;
    --fn-regular: 400;
    --fn-bold: 700;
}

body  { 
    font-family: var(--fn-family);
    background: var(--clr-neutral-950);
    background-image: url(../images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-position: top;
    font-weight: 400;
    font-size: var(--fn-size);
    flex-direction: column;
    display: flex;
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button {
    background-color: transparent;
    border: none;
    font-size: var(--fn-size);
    font-family: var(--fn-family);
}

::placeholder {
    color: var(--DarkGrayishBlue)
}

p {
    margin: 1rem;
}

.moon {
    display: none;
}

.app-container {
    margin: 0 auto;
    width: min(90%, 50rem);
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
}

.app-title {
    letter-spacing: 1ch;
    text-transform: uppercase;
    color: hsl(0, 0%, 98%);
}

.add-task {
    background-color: var(--clr-neutral-900);
    border-radius: 0.3125rem;
    width: 100%;
    margin-block: 1rem;
    display: flex;
}

.add-task-input {
    margin: 1rem;
    color: var(--clr-neutral-100);
    font-weight: var(--fn-regular);
}
.add-task-input:focus {
    caret-color: var(--clr-primary-blue);
}

.task-list {
    background-color: var(--clr-neutral-900);
    border-color: 10px solid black;
    border-radius: 0.3125rem;
}

.task {
    display: flex;
    color: var(--clr-neutral-100);
    justify-content: space-evenly;
}

.task > p {
    width: 75%;
}

.circle {
    background-color: var(--clr-primary-blue);
    position: relative;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin: auto;
}
.circle::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--clr-neutral-300);
}

.attribution { font-size: 11px; text-align: center; margin-top: auto; }
.attribution a { color: hsl(228, 45%, 44%); }
